html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Georgia, "Times New Roman", Times, serif;
}
.container {
  margin: 0;
  padding: 0;
  position: relative;
  width: 100%;
  height: 100vh;
  text-align: center;
}
.main {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
h2 {
  text-align: center;
  color: #3fb491;
}
.loader img {
  width: 200px;
  height: auto;
}
.quoteBlock {
  display: flex;
  flex-direction: column;
  width: 600px;
  text-align: left;
  box-shadow: 0 0 5px grey;
  padding: 20px;
  border-radius: 6px;
  outline: 1px solid #3fb491;
  outline-offset: 10px;
  background-color: white;
}
blockquote {
  background: #f1f1f1;
  padding: 10px 15px;
  font-size: 14px;
  line-height: 24px;
  border-radius: 6px;
}
button {
  border: 0;
  padding: 10px;
  color: white;
  font-size: 14px;
  background-color: #3fb491;
  margin: 1em 40px;
  border-radius: 6px;
  cursor: pointer;
}
